.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: var(--space-8);
    height: 100%;
    grid-template-areas:
            "tools tools tools"
            "main main main"
            "widget1 widget2 widget3";
}

.tools {
    grid-area: tools;
}

.main {
    grid-area: main;
}

.widget1 {
    grid-area: widget1;
}

.widget2 {
    grid-area: widget2;
}

.widget3 {
    grid-area: widget3;
}
