.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);
    text-align: center;
}
.time {
    font-size: clamp(var(--fontSizes-2xl), -0.3333rem + 4.1667vw, 3rem);
    font-weight: 700;
}
