html {
  font-size: 16px;

  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 18px;
}

body {
  background: radial-gradient(
    var(--chakra-colors-bg-emphasized),
    var(--chakra-colors-bg)
  );
}
